:root {
    --componentBack: #8559da;
    --darkTone: #512da8;
    --componentColor: #fff;
    --plainColor: #000;
    --aboutColor: #ededed;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:visited {
    color: currentColor;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 2% 0;
    height: 100%;
}

nav ul {
    align-items: center;
}

nav {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    animation-name: slidein;
    animation-duration: .3s;
}

nav ul li {
    padding: 4% 0;
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}

footer a:hover, section#contato a:hover {
    font-weight: 700;
    color: #c2c0c0;
}

input[type="image"] {
    width: 6em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    transition: transform .5s;
}

input[type="image"]:active, section#projetos div a:hover {
    filter: brightness(80%);
}
input[type="image"]:hover{
    -webkit-transform: translatey(10px);
    transform: translatey(10px);
}

div.row {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.row input[type="image"] {
    margin: 5% 0;
}

.breakline {
    flex-basis: 100%;
    height: 0;
}

.noMargin {
    margin: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--componentColor);
    color: var(--plainColor);
    width: 100%;
}

h1 {
    font-weight: 500;
    width: 85%;
    margin: 0;
}

h1, article {
    font-family: 'IBM Plex Mono', monospace;
}

h3{
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 1em .5em;
    justify-content: space-between;
}

header, header *, section:not(#sobre), footer, .btn, button, a {
    color: var(--componentColor);
}

footer, #contato, #skills, #formacao, #projetos div:not(.btns) {
    background-color: var(--componentBack);
}

nav ul, input[type="image"], h1, .container .darkBack *, #projetos div a img, b {
    padding: 0;
}

.darkBack {
    background-color: var(--darkTone);
}

#skills, #formacao, #contato {
    width: 80%;
    margin: 4em auto;
    padding: 2em;
}
#contato h3, #contato .darkBack, #formacao .darkBack{
    width: 90%;
    margin: 1em auto;
}

#sobre {
    background-color: var(--aboutColor);
}

#innerS{
    width: 80%;
    margin: 2.5em auto;
}

#projetos{
    padding: 2em 0;
}
#projetos .projeto, #projetos h3 {
    width: 70%;
}

#projetos h3{
    margin: 2% auto;
}
.projeto{
    margin: 1.5em auto;
}
#projects .projeto{
    margin: 0 auto;
}
#projetos div a {
    display: flex;
    width: 45%;
    height: 2em;
    justify-content: space-around;
    align-items: center;
    border-radius: .5em;
    font-weight: 700;
    background-color: var(--darkTone);
}
.projeto h4{
    margin: 0;
}
.innerP{
    width: 80%;
    margin: 0 auto;
    padding: 1.4em 0;
}
#projetos div a:active {
    transform: translatey(.1em);
}
#projects{
    padding: 1em;
}
.container .darkBack {
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .darkBack p {
    margin-top: 1em;
}

.container .darkBack img {
    width: 7em;
    margin: auto 0;
    padding: .5em;
    align-self: flex-start;
}

.container .darkBack div {
    width: 50%;
    margin-left: 1em;
}

.container a {
    margin: auto;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btns a {
    margin: 0;
}

article {
    display: flex;
    align-items: center;
    height: 65vh;
    font-size: 2.7em;
}

footer {
    text-align: center;
}

footer, article, section:not(#projetos){
    padding: 1em;
}

.btn, button {
    width: min-content;
    padding: 6px 0;
    background-color: transparent;
    outline: none;
    border: none;
    background-repeat: no-repeat;
}

.justify * {
    text-align: justify;
}

.rounded:not(#projetos), .rounded div {
    border-radius: 0.675em;
}
.popup, #navbar{
    z-index: 1;
}
.popup {
    display: none;
    background-color: #140078;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60vh;
    height: 80vh;
    transform: translate(-50%, -50%);
    animation-name: popup;
    animation-duration: .2s;
}
.popup ul, .popup h3{
    width: 80%;
    margin: 1em auto;
}
.popup #popupContainer{
    margin: 1em 0;
}

.gg-close:hover, .gg-menu:hover {
    cursor: pointer;
}

.right {
    float: right;
    margin: 0 1em;
}

@keyframes popup {
    from {
        width: 20vh;
        height: 20vh;
        color: transparent;
    }
    to {
        width: 60vh;
        height: 80vh;
        color: #fff;
    }
}

@media (min-width: 1000px) {
    header {
        display: flex;
        align-items: normal;
        padding: 0;
        height: fit-content;
    }
    header * {
        margin: 0;
    }
    nav {
        display: inline;
        position: relative;
        height: min-content;
        width: 60%;
        margin-top: auto;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        height: 4em;
        justify-content: space-between;
    }
    nav ul li {
        height: 100%;
        padding: 0;
    }
    nav ul li:hover {
        box-sizing: border-box;
        border-bottom: .25em solid var(--componentBack);
    }
    h1 {
        width: 30%;
        margin: .75em;
    }
    .gg-menu, nav .gg-close {
        display: none;
    }
    #innerS{
        width: 50%;
    }
    #innerS p{
        font-size: 1.5em;
    }
    h3{
        font-size: 2.25em;
    }
    #contato, #formacao, #skills{
        width: 50%;
    }
    #skills h3, #skills .row{
        width: 80%;
        margin: auto;
    }
    input[type="image"]{
        width: 7em;
    }
    #projetos .projeto, #projetos h3{
        width: 40%;
    }
    #formacao h3, #formacao .darkBack, #contato h3, #contato .darkBack{
        width: 80%;
        margin: 1em auto;
    }
}

@media (max-width: 320px) {
    section.container div.darkBack div {
        width: 20%;
    }
    section#skills input[type="image"] {
        width: 4.5em;
    }
    section#projetos div a {
        font-size: .9em;
    }
}